.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
  min-height: 120px;
  box-sizing: border-box;

  .leftSide {
    display: flex;
    align-items: center;
  }

  .name {
    font-size: 18px;
    text-wrap: balance;
    font-weight: 600;
  }

  .totalCountHolder {
    display: flex;
    align-items: center;
    min-width: 150px;
  }
}

.progressHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;

  p {
    position: relative;
    right: 24px;
  }
}