.holder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px);
  position: absolute;
  left: 0;
  top: 70px;
  width: 100%;
}

.paper {
  width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;

  .title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .paper {
    padding: 1rem;
  }
}