.layout {
  .header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .logo_holder {
      display: flex;
      align-items: center;
      img {
        height: 40px;
      }
    }
  }
}