.holder {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  overflow-y: auto;
}

.paper {
  width: 700px;
  height: max-content;
  margin: 5rem 0;
  padding: 2rem;
}

.totalPrice {
  float: right;
  font-weight: 500;
  margin: 1rem 0;
}

@media (max-width: 1000px) {
  .paper {
    width: 550px;
  }
}

@media (max-width: 800px) {
  .holder {
    background: white;
  }

  .paper {
    width: 100%;
    margin: 0;
    padding-bottom: 6rem;
  }
}