@import '../../../styles/variables.scss';

.myButton {
  color: #ffffff;
  background: #ff9800;
  cursor: pointer;
  border: none;
  outline: 2px transparent solid;
  padding: 10px 20px;
  border-radius: 20px;
  transition: 0.2s;
  user-select: none;
  box-shadow: none;

  &.active {
    pointer-events: none;
    background: #ff9800;
    box-shadow: 0 0 0 0.2rem rgb(255, 153, 0, 0.5);
  }

  &.notActive {
    color: #f57c00;
    background: white;

    &:hover {
      background: #f6f6f6;
    }
  }

  &:hover {
    background: #f57c00;
  }
}